Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
.vs/
.vscode/
.idea/
.gradle/
Gradle/
Packages/manifest.json.meta
ExportedObj/
DerivedDataCache/
*.csproj
*.sln
*.suo
*.user
*.unityproj
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.apk
*.aab
*.keystore
keystore/
.DS_Store
Thumbs.db
